
#gameContainer {
	width: 100%;
	height: auto;
}

#optionsPartDiv, #tablePartDiv {
	display: block;
	text-align: center;
	margin: 20px auto;
	border: 1px solid black;
}

table {
	margin: 0 auto;
}

td {
	width: 100px;
	height: 100px;
	border: 1px solid black;
	border-radius: 5px;
}

#result {
	height: 50px;
	border: 1px solid black;
	text-align: center;
}

.tdBgColor {
	background-color: #aabae5;
}

.invisible {
	background-color: #ffffff;
	box-shadow: 5px 5px 5px grey inset;
}

